
/*Esto es una animacion global el cual es una funcion que determina
la velocidad de animacion, el cual puede ser utilizada en html*/
.fast{
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
